
.trav-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background: url('../../res/background.jpg') center;
}

.trav-avatar{
    padding-top: 10px;
    padding-left: 60px;
}

.drawer_avatar {
    height: 20vmin;
    width: 20vmin;
}

.username{
    padding-left: 10px;
}

.trav-info-profile{
    padding-top: 10px;
    padding-left: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    text-overflow: ellipsis;
    overflow:hidden;
}

.drawer_text{
    font-size: 2vmax;
    padding-left: 4px;
}

@media(max-width: 480px) {
    .drawer_text{
        font-size: 6vmax;
    }

    .drawer_avatar {
        height: 20vmax;
        width: 20vmax;
    }
}

@media(max-width: 800px) {
    .drawer_text{
        font-size: 6vmax;
    }

    .drawer_avatar {
        height: 20vmax;
        width: 20vmax;
    }
}

.trav-separetor {
    height: 1px;
    background-color: #78909C;
    margin: 8px 0;
}

.trav-background {
    background: url('../../res/background-2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*
#add_event {
    position: fixed;
}

button[id$='day_button'] {
    position: fixed;
}*/
