
.trav-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background: url('../../res/background.jpg') center;
}

.trav-avatar{
    margin-left: 5%;
}

.drawer_avatar {
    height: 16vmin;
    width: 16vmin;
}

.drawer_logo{
    width: 30vmin;
    padding-top: 5%;
    padding-bottom: 5%;
}

.username{
    padding-left: 1%;
}

.trav-info-profile{

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    text-overflow: ellipsis;
    overflow:hidden;
}

.drawer_text{
    font-size: 2vmax;
    padding-left: 1%;
}

@media(max-width: 480px) {
    .drawer_text{
        font-size: 6vmax;
    }

    .drawer_logo{
        width: 35vmax;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .drawer_avatar {
        height: 16vmax;
        width: 16vmax;
    }
}

@media(max-width: 800px) {
    .drawer_text{
        font-size: 6vmax;
    }

    .drawer_avatar {
        height: 16vmax;
        width: 16vmax;
    }

    .drawer_logo{
        width: 35vmax;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

.trav-separetor {
    height: 1px;
    background-color: #78909C;
    margin: 8px 0;
}

.trav-background {
    background: url('../../res/background-2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
#add_event {
    position: fixed;
}

button[id$='day_button'] {
    position: fixed;
}*/
.add_button{
    width: 20vmin;
    height: 20vmin;
    position: fixed;
    bottom: 2%;
    z-index: 5; /*important!*/
}

.calendar_slide_button{
    width: 10vmin;
    height: 10vmin;
    position: fixed;
    top: 50%;
    z-index: 5; /*important!*/
}