
#tickets {
	child-align: auto;
}

.demo-card-wide.mdl-card {
	width: 460px;
}
.demo-card-wide > .mdl-card__title {
	color: #fff;
	height: 100px;
	background: url('../res/background.jpg') center / cover;
}
.mdl-card__title-text {
	color: black;
	align-content: center;
}

body {
	font: 400 15px/1.8 Roboto;
	color: black;
}

h2, h4 {
	margin: 10px 0 30px 0;
	font-size: 20px;
	color: #111;
}

.container {
	padding: 80px 120px;
}
.carousel-inner img {
	width: 100%; /* Set width to 100% */
	margin: auto;
}


.bg-1 {
	background: #2d2d30;
	color: #bdbdbd;
}