.trav-tab-layout{
    width: auto;
}

.trav-header-tab{
    margin-top: 10px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}
.trav-content-tab{
    width: auto;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

.profile-picture{
    height: 40vmin;
    width: 40vmin;
}

/*@media only screen and (max-width: 512px) {
    #stage {
        background-color: transparent;
    }
}