.trav-background {
    background: url('../res/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.trav-button{
    margin: auto;
    display:block;
}